
PP4/.DS_Store
.DS_Store
PP2/.ipynb_checkpoints/Atividade #2 - Métricas de Desempenho-checkpoint.ipynb
PP3/.ipynb_checkpoints/Atividade #3 - Aprendizado de Neurônio Perceptron-checkpoint.ipynb
PP4/.ipynb_checkpoints/Untitled-checkpoint.ipynb
PP4/.ipynb_checkpoints/Atividade #4 - RNA MLP-checkpoint.ipynb
Aula Prática/.ipynb_checkpoints/MLP - Iris dataset-checkpoint.ipynb
